<!-- -->
<launch>

  <include file="$(env CARLA_AUTOWARE_ROOT)/my_map.launch"/>
  <include file="$(env CARLA_AUTOWARE_ROOT)/my_sensing.launch"/>
  <include file="$(env CARLA_AUTOWARE_ROOT)/my_localization.launch"/>
  <include file="$(env CARLA_AUTOWARE_ROOT)/my_detection.launch"/>
  <include file="$(env CARLA_AUTOWARE_ROOT)/my_mission_planning.launch"/>
  <include file="$(env CARLA_AUTOWARE_ROOT)/my_motion_planning.launch"/>

</launch>

