<!-- -->
<launch>
  <arg name='role_name' default='ego_vehicle'/>


  <include file="$(env CARLA_AUTOWARE_ROOT)/my_map.launch"/>
  <include file="$(env CARLA_AUTOWARE_ROOT)/my_sensing.launch"/>
  <include file="$(env CARLA_AUTOWARE_ROOT)/my_localization.launch">
    <arg name='role_name' value='$(arg role_name)'/>
  </include>
  <include file="$(env CARLA_AUTOWARE_ROOT)/my_detection.launch">
    <arg name='role_name' value='$(arg role_name)'/>
  </include>
  <include file="$(env CARLA_AUTOWARE_ROOT)/my_mission_planning.launch"/>
  <include file="$(env CARLA_AUTOWARE_ROOT)/my_motion_planning.launch"/>

</launch>

