<launch>

  <!-- setting path parameter -->
  <arg name="get_height" value="true" />

  <!-- Setup -->
  <arg name="x" value="0" />
  <arg name="y" value="0.0" />
  <arg name="z" value="2.4" />
  <arg name="yaw" value="0.0" />
  <arg name="pitch" value="0.0" />
  <arg name="roll" value="0.0" />
  <arg name="frame_id" value="/base_link" />
  <arg name="child_frame_id" value="/velodyne" />
  <arg name="period_in_ms" value="10" />

  <!-- tf parameters for ndt_matching -->
  <param name="tf_x" value="$(arg x)" />
  <param name="tf_y" value="$(arg y)" />
  <param name="tf_z" value="$(arg z)" />
  <param name="tf_yaw" value="$(arg yaw)" />
  <param name="tf_pitch" value="$(arg pitch)" />
  <param name="tf_roll" value="$(arg roll)" />
  <param name="localizer" value="velodyne" />

  <include file="$(find model_publisher)/launch/vehicle_model.launch" />

  <!-- points downsampler -->
  <include file="$(find points_downsampler)/launch/points_downsample.launch" />

  <!-- ndt_matching -->
  <include file="$(find lidar_localizer)/launch/ndt_matching.launch">
    <arg name="get_height" value="$(arg get_height)" />
  </include>

</launch>
