<!-- -->
<launch>

  <!-- 
    # costmap generator #
    In:  /points_no_ground
    In:  @todo detections
    Out: /semantics/costmap_generator/occupancy_grid (the costmap, depending on detections)
  -->
  <include file="$(find costmap_generator)/launch/costmap_generator.launch">
    <arg name="use_objects_box" value="true" />
    <arg name="use_objects_convex_hull" value="false" />
    <arg name="use_points" value="true" />
    <arg name="use_wayarea" value="false" />
  </include>

  <!-- 
    # waypoint planner #
    Plan the route, avoid obstacles
    In:  /semantics/costmap_generator/occupancy_grid
    In:  /base_waypoints
    In:  /closest_waypoint
    In:  /current_pose
    In:  /current_velocity
    In:  /obstacle_waypoint (@todo: valid?)
    Out: /safety_waypoints (route avoiding obstacles)
  -->
  <include file="$(find waypoint_planner)/launch/astar_avoid.launch"/>

  <!-- 
    # set local velocity #
    Plan the route, avoid obstacles
    In:  /semantics/costmap_generator/occupancy_grid
    In:  /current_pose
    In:  /current_velocity
    In:  /safety_waypoints (route)
    In:  /localizer_pose (@todo: needed?)
    In:  /points_no_ground
    In:  (@todo: vector map)
    Out: /final_waypoints (the waypoints containing calculated velocity, @todo: verify)
    Out: /obstacle_waypoint (@todo: valid?)
    Out: /detection_range (@todo: not connected yet)
  -->
  <include file="$(find waypoint_planner)/launch/velocity_set.launch">
    <arg name="use_crosswalk_detection" default="false" />
    <arg name="points_topic" default="points_no_ground" />
    <arg name="velocity_offset" default="1.2" />
    <arg name="decelerate_vel_min" default="1.3" />
    <arg name="remove_points_upto" default="2.3" />
    <arg name="enable_multiple_crosswalk_detection" default="false" />
    <arg name="enablePlannerDynamicSwitch" default="false" />
  </include>

  <!--
    # pure_pursuit #
    Follow a list of waypoints
    In:  /final_waypoints
    In:  /current_pose
    In:  /current_velocity
    Out: /ctrl_cmd
    Out: /twist_raw
    Out: /next_target_mark (@todo: not connected yet)
    Out: /trajectory_circle_mark (@todo: not connected yet)
  -->
  <node pkg="rostopic" type="rostopic" name="config_waypoint_follower_rostopic"
        args="pub -l /config/waypoint_follower autoware_config_msgs/ConfigWaypointFollower
        '{ header: auto, param_flag: 1, velocity: 15.0, lookahead_distance: 4.0, lookahead_ratio: 2.0, minimum_lookahead_distance: 6.0, displacement_threshold: 0.0, relative_angle_threshold: 0.0 }' " />
  <include file="$(find waypoint_follower)/launch/pure_pursuit.launch"/>

  <!-- 
    # twist_filter #
    @todo: purpose?
    In:  /twist_raw
    In:  /decision_maker/state (@todo: not connected yet)
    Out: /vehicle_cmd (the combined vehicle command for actuator)
  -->
  <include file="$(find waypoint_follower)/launch/twist_filter.launch"/>

</launch>
