<!-- -->
<launch>

  <!-- TF -->
  <include file="$(env CARLA_AUTOWARE_ROOT)/autoware_launch/tf.launch"/>

  <!-- 
    # Points map loader #
    Out: /points_map
   -->
  <node pkg="map_file" type="points_map_loader" name="points_map_loader" args="noupdate $(env CARLA_AUTOWARE_ROOT)/autoware_data/map/map.pcd"/>

  <!--
    # Vector Map loader #
    @todo: currently not provided as there is not conversion from OpenDrive to Autoware map format yet.
  -->

</launch>
