<!---->
<launch>

<!-- world to map tf -->
<node pkg="tf"  type="static_transform_publisher" name="world_to_map" args="0 0 0 0 0 0 /world /map 100" />

<!-- map to mobility tf -->
<node pkg="tf"  type="static_transform_publisher" name="map_to_mobility" args="0 0 0 0 0 0 /map /mobility 100" />

<!-- ego_vehicle to base_link tf -->
<node pkg="tf"  type="static_transform_publisher" name="egovehicle_to_baselink" args="0 0 0 0 0 0 /ego_vehicle /base_link 100" />

<!-- ego_vehicle/gnss to gps tf -->
<node pkg="tf"  type="static_transform_publisher" name="egovehiclegnss_to_gps" args="0 0 0 0 0 0 /ego_vehicle/gnss/front /gps 100" />

<!-- ego_vehicle/lidar to velodyne tf -->
<node pkg="tf"  type="static_transform_publisher" name="egovehiclelidar_to_velodyne" args="0 0 0 0 0 0 /ego_vehicle/lidar/sensor /velodyne 100" />

<!-- ego_vehicle/cameraFront to camera tf -->
<node pkg="tf"  type="static_transform_publisher" name="egovehiclecamerafront_to_camera" args="0 0 0 0 0 0 /ego_vehicle/camera/rgb/front /camera 100" />

</launch>

