<!-- -->
<launch>
  <arg name='host' default='localhost'/>
  <arg name='port' default='2000'/>
  <arg name="vehicle_filter" default="vehicle.toyota.prius*" />

  <param name="/carla/host" value="$(arg host)" />
  <param name="/carla/port" value="$(arg port)" />
  <param name="/carla/client/vehicle_filter" value="$(arg vehicle_filter)" />

  <node pkg="carla_autoware_ego_vehicle" type="carla_autoware_ego_vehicle" name="carla_autoware_ego_vehicle" output="screen"/>
</launch>

