<!-- -->
<launch>
  <param name="/carla/host" value="127.0.0.1" />
  <param name="/carla/port" value="2000" />
  <param name="/carla/client/vehicle_filter" value="vehicle.toyota.prius*" />

  <node pkg="carla_client" type="carla_autoware_manual_control" name="carla_autoware_manual_control" output="screen"/>

</launch>

