<launch>
  <arg name='host' default='localhost'/>
  <arg name='port' default='2000'/>

  <!-- carla client -->
  <include file="$(find carla_client)/launch/carla_client.launch" />

  <!-- common -->
  <include file="$(find carla_autoware_bridge)/launch/carla_autoware_bridge_common.launch" />

  <!-- override parameters -->
  <param name="carla/host" value="$(arg host)" />
  <param name="carla/port" value="$(arg port)" />

</launch>

