<!-- -->
<launch>
  <arg name='host' default='localhost'/>
  <arg name='port' default='2000'/>
  <arg name="start_in_autopilot" default="False" />

  <param name="/carla/client/start_in_autopilot" value="$(arg start_in_autopilot)" />

  <!-- carla client -->
  <include file="$(find carla_client)/launch/carla_manual_control.launch" />

  <!-- common -->
  <include file="$(find carla_autoware_bridge)/launch/carla_autoware_bridge.launch">
    <arg name='host' default='$(arg host)'/>
    <arg name='port' default='$(arg port)'/>
  </include>

</launch>

