<launch>

  <param name="/carla/client/start_in_autopilot" value="False" />

  <!-- carla client -->
  <include file="$(find carla_client)/launch/carla_manual_client.launch" />

  <!-- common -->
  <include file="$(find carla_autoware_bridge)/launch/carla_autoware_bridge_common.launch" />

</launch>

